.accordion-group {

}

.accordion {
    &--title{
        @apply text-left;
    }
    
    &.is-plus{
        .accordion{
        
            &--toggle{
                @apply flex justify-between w-full text-16 md:text-20 text-left uppercase pr-15;

                &.is-open{
                    @apply opacity-100;

                    .icon-plus{
                        @apply rotate-45;
                    }
                }
            }

            &--content{
                @apply max-w-[75rem];
            }
        }
    }
} 