.accordion-group {

}

.accordion {
    &--title{
        @apply text-left;
    }
    
    &.is-plus{
        .accordion{
        
            &--toggle{
                @apply flex justify-between w-full text-16 md:text-20 text-left uppercase pr-15;

                &.is-open{
                    @apply opacity-100;

                    .icon-plus{
                        @apply rotate-45;
                    }
                }
            }

            &--content{
                @apply max-w-[75rem];
            }
        }
    }

    &--inner {
        @apply px-15 py-15 md:px-15 md:py-15;
    }
}

/* Add horizontal padding to accordion children when in drawer - using more specific selector */
.drawer--content .accordion--inner {
  /* Remove padding from accordion--inner itself in drawers */
  @apply px-0 py-0 md:px-0 md:py-0;
} 

.is-faqs .accordion--inner:not(.faqs-inner) {
  @apply md:px-0 md:py-0;
}