.cart {
    @apply fixed px-15 md:px-25 py-15 md:py-20 top-0 right-0 w-full h-screen z-[99991] pointer-events-none flex justify-end;
    height: calc(var(--vh, 1vh) * 100);
    will-change: opacity;
    transition: visibility .2s .8s;
  
    &.is-active {
      @apply visible pointer-events-auto;
      transition-delay: 0s;
    }
  
    &.is-updating {
      @apply cursor-wait !important;
    }

    .price{
      @apply text-18;
    }
  
    &--backdrop {
      @apply fixed inset-0 z-[9991] bg-black bg-opacity-70 pointer-events-none opacity-0 transition-opacity duration-300;
  
      &.is-active {
        @apply pointer-events-auto opacity-100;
      }
    }
  
    &--inner {
      @apply flex flex-col relative h-full w-full max-w-[54rem] rounded-[1.5rem] overflow-hidden bg-white;
    }

    &--close{
      @apply w-[3.5rem] h-[3.5rem] flex items-center justify-center bg-pink text-white rounded-full;
    }
  
    &--header {
      @apply text-pink px-15 py-10 leading-100 flex items-center relative border-b-2 border-ash;
  
      &::after {
        @apply absolute inset-x-0 bottom-0;
        content: "";
      }
    }
  
    &--title {
      @apply flex items-center mr-auto text-16 font-lxb;
    }
  
    &--content {
      @apply flex-1 flex flex-col overflow-y-scroll;
    }

    &--items{
      @apply flex flex-col
    }
  
    &--footer {
      @apply relative p-15;
    }
  
    &--subtotal {
      @apply flex justify-between font-lxb text-18;
    }
  
    &--message {
      @apply text-center mt-25;
    }
  
    &--empty {
      @apply my-auto text-center;
    }

    &-toggle{
      &--count{
        @apply text-center min-w-[1.2rem] md:min-w-[1.2rem] block;
      }
    }

    .counter{
      @apply flex justify-between border-2 border-pink rounded-[1.5rem];

      &--input{
        @apply flex-1 h-full text-center flex items-center justify-center font-lxb text-18;

        input, button{
          @apply text-center h-full flex items-center justify-center font-lxb text-16;
        }
      }

      &--amount{
        @apply flex-1 text-center flex-shrink;
      }

      input{
        @apply text-center h-full flex items-center justify-center;
      }

      button{
        @apply w-[33.33333%] flex-shrink-0 flex-1 flex items-center justify-center h-30 text-center;
      }
    }
  }
  
  .cart-item {
    @apply flex relative border-b-2 border-ash p-15;
  
    .is-updating & {
      @apply pointer-events-none;
    }
  
    &--photo {
      @apply flex-shrink-0 relative m-0 w-120 h-160;
    }
  
    &--details {
      @apply flex flex-col flex-grow pl-10 md:pl-15;
    }
  
    &--header {
      @apply flex py-10 md:py-15 gap-20;
  
      .price {
        @apply ml-auto;
      }
    }

    &--note {
      @apply text-black;
    }
  
  
    &--link {
      @apply block text-current;
    }
  
    &--title {
      @apply flex-1 m-0;
    }

    &--subtitle{
      @apply text-14 font-lb;
    }

    &--variant{
      @apply text-16;
    }

    &--name{
      @apply text-18 font-lxb;
    }
  
    &--price {
      @apply text-black text-18 font-lxb;
    }
  
    &--tools {
      @apply flex justify-between items-baseline relative z-1 mt-auto;
    }

    &--remove{
      @apply bg-white p-0 text-12 text-slate h-full flex items-center justify-center transition-colors duration-300;

      &:hover{
        @apply text-black;
      }

    }
  }