.cart {
    @apply fixed top-0 right-0 w-full h-screen z-[99991] pointer-events-none flex justify-end;
    height: calc(var(--vh, 1vh) * 100);
    will-change: opacity;
    transition: visibility .2s .8s;
  
    &.is-active {
      @apply visible pointer-events-auto;
      transition-delay: 0s;
    }
  
    &.is-updating {
      @apply cursor-wait !important;
    }
  
    &--backdrop {
      @apply fixed inset-0 z-8 bg-black bg-opacity-70 pointer-events-none opacity-0 transition-opacity duration-300;
  
      &.is-active {
        @apply pointer-events-auto opacity-100;
      }
    }
  
    &--inner {
      @apply flex flex-col relative h-full w-full max-w-[54rem] bg-white;
    }
  
    &--header {
      @apply leading-100 flex items-end relative h-45 border-b border-black;
  
      &::after {
        @apply absolute inset-x-0 bottom-0;
        content: "";
      }
    }
  
    &--title {
      @apply flex items-center mr-auto p-15 pb-10;
    }
  
    &--content {
      @apply flex-1 flex flex-col overflow-y-scroll;
    }

    &--items{
      @apply flex flex-col
    }
  
    &--footer {
      @apply relative;
    }
  
    &--subtotal {
      @apply flex justify-between;
    }
  
    &--message {
      @apply text-center mt-25;
    }
  
    &--empty {
      @apply my-auto text-center;
    }

    &-toggle{
      &--count{
        @apply text-center min-w-[1.2rem] md:min-w-[1.2rem] block;
      }
    }

    .counter{
      @apply flex justify-between;

      &--input{
        @apply flex-1 h-full text-center flex items-center justify-center;
      }

      &--amount{
        @apply flex-1 text-center flex-shrink border-r border-black;
      }

      input{
        @apply text-center h-full flex items-center justify-center;
      }

      button{
        @apply w-[33.33333%] border-r border-black flex-shrink-0 flex-1 flex items-center justify-center h-30 text-center;
      }
    }
  }
  
  .cart-item {
    @apply flex relative border-b border-black;
  
    .is-updating & {
      @apply pointer-events-none;
    }
  
    &--photo {
      @apply flex-shrink-0 relative m-0 w-120 h-160;
    }
  
    &--details {
      @apply flex flex-col flex-grow;
    }
  
    &--header {
      @apply flex p-10 md:p-15;
  
      .price {
        @apply ml-auto;
      }
    }

    &--note {
      @apply text-black;
    }
  
  
    &--link {
      @apply block text-current;
    }
  
    &--title {
      @apply flex-1 m-0;
    }
  
    &--price {
      @apply text-black;
    }
  
    &--tools {
      @apply flex justify-between items-baseline relative z-1 mt-auto;
    }

    &--remove{
      @apply bg-white p-0 h-full flex items-center justify-center;

      &:hover{
        @apply text-black;
      }

    }
  }