.footer {
  &-image {
    &:nth-child(1) {
      @apply rounded-[1rem] md:rounded-[5rem];
    }
    &:nth-child(2) {
      @apply rounded-[5rem] md:rounded-[10rem];
    }
    &:nth-child(3) {
      @apply rounded-[99rem] md:rounded-[0rem];
    }
    &:nth-child(4) {
      @apply rounded-[0rem] md:rounded-[99rem];
    }
  }
}

.newsletter {
  @media (max-width: 850px) {
    &-email {
      border-bottom: 1px solid #003287 !important;
    }
  }
}
