[data-marqy] {
  position: relative;
  /* overflow: hidden; */
}

[data-marqy-inner] {
  display: flex;
}

[data-marqy][data-direction='right'] [data-marqy-inner] {
  justify-content: flex-end;
}

[data-marqy-content] {
  display: flex;
  flex: 1 0 auto;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
  will-change: transform;
}

[data-marqy][data-direction='left'] [data-marqy-content] {
  animation-name: marqyL;
}

[data-marqy][data-direction='right'] [data-marqy-content] {
  animation-name: marqyR;
}

[data-marqy][data-pause-on-hover]:hover [data-marqy-content] {
  animation-play-state: paused;
}

[data-marqy-item] {
  flex-grow: 0;
}

@keyframes marqyL {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes marqyR {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

@media (prefers-reduced-motion) {
  [data-marqy-inner] {
    overflow-x: scroll;
  }

  [data-marqy-content] {
    animation: none !important;
  }
}

.marquee {
  &--item {
    @apply flex ml-50 gap-50;
  }

  &--text {
    @apply block px-5 relative text-40 md:text-60 italic font-lxb;

    div{
      &:first-child{
        @apply absolute z-1 blur-[10px] text-current;
      }
      &:nth-child(2){
        @apply absolute z-2 blur-[10px] text-current;
      }
      &:nth-child(3){
        @apply absolute z-3 blur-[10px] text-current;
      }
      &:last-child{
        @apply relative z-4 text-white;

        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: currentColor;
        -webkit-text-stroke: 1px currentColor;
      }
    }
  }

  &-section {
    @apply relative;

    &::before{
      content: '';
      @apply  pointer-events-none absolute top-1/2 -translate-y-1/2 left-0 z-5 bg-gradient-to-r from-white to-transparent h-[calc(100%+6rem)] w-[10rem] md:w-[30rem];
    }

    &::after{
      content: '';
      @apply pointer-events-none absolute top-1/2 -translate-y-1/2 right-0 z-5 bg-gradient-to-l from-white to-transparent h-[calc(100%+6rem)] w-[10rem] md:w-[30rem];
    }
  }

  &-link {
    @apply md:absolute md:p-20 text-white text-[1.6rem] w-[20rem] bg-white md:top-1/2 md:-translate-y-1/2 left-0 z-7 h-full md:h-[calc(100%+8rem)] text-center font-plaid uppercase flex items-center justify-center;

    &::before{
      content: '';
      @apply hidden md:block absolute z-5 bg-gradient-to-r from-white to-transparent h-full md:h-[calc(100%+6rem)] w-[30rem] top-0 right-0 translate-x-full;
    }
  }
}
