button{
  @apply px-0;
}

.btn{

  @apply flex items-center justify-center text-center rounded-full border border-pink bg-pink hover:bg-magenta hover:border-magenta transition-colors duration-300 text-white font-lb lowercase flex-shrink-0 px-20 py-10;

  &.is-outline{
    @apply bg-transparent text-pink hover:text-magenta;
  }

  &.is-variant{
    @apply bg-white border-2 border-pink rounded-[.5rem] text-pink p-0 w-[4rem] h-[4rem] flex items-center justify-center uppercase text-14 font-lb transition-colors duration-300 hover:bg-pink hover:text-white;

    &.is-active{
      @apply bg-pink text-white;
    }
  }
  
  &-text{
    @apply text-16 font-lb
  }

  &-gradient{
    @apply text-white;
    background: linear-gradient(to bottom, #FFACCB 0%, #FF669F 22%, #ED0E61 82%, #ED0E61 100%);
    box-shadow: inset 0 0 6px 0 #EDD4E4;
  }

  &.is-dark{
    @apply text-white bg-black px-10 md:px-15;

    &:hover{
      @apply text-white bg-black;
    }
  }

  &.is-add,
  &.is-checkout,
  &.is-large{
    @apply py-12 px-20 text-20;

  }

  &.is-tag{
    @apply bg-cement text-black transition-colors duration-300 border-none px-10;

    &.is-active{
      @apply bg-pink text-white border-none;
      color: white!important;
    }
  }

  &-nav{
    @apply text-black;

    &:not(.is-contact){
      @apply transition-colors;
    }

    &.is-contact{
      @apply transition-[width,color] duration-300 w-[7.2rem] whitespace-nowrap overflow-hidden;

      &.is-copying{
        @apply w-[6.2rem] md:w-[17.1rem];
      }
    }

    &.is-work{
      .nav-count{
        @apply text-[1.2rem]
      }
    }

    &.is-info{
      @apply flex-shrink items-start overflow-hidden;

      .marquee-section{
        @apply text-[1.2rem]
      }
    }
  }

  &-filter--inner{
    @apply text-black transition-colors;
  }

  &-toggle{
    @apply bg-transparent py-5 uppercase leading-100 border border-black text-black px-10;

    &.is-active{
      @apply bg-white text-black;
    }
  }

  &-filter--inner{
    @apply px-10 flex-row gap-10;
  }

  &-drop{
    @apply uppercase text-12 font-normal font-vr px-25 h-35 flex items-center justify-center shadow-primary bg-white text-center flex-shrink-0;

    transition-property: box-shadow, transform;
    transition-duration: .3s;
    transition-timing-function: ease;
   
    &:hover{
    @apply shadow-light
   }
   
    &.is-wide{
      @apply w-[calc(100%-2rem)] md:w-[30rem];
    }

    &.is-close{
      @apply bg-black text-white w-35 flex items-center justify-center px-0;
    }
   
  }  

  &-filter{
    @apply font-normal font-vr uppercase text-10 px-5 py-5 bg-white shadow-primary text-black;


    &:not(:last-child){
      @apply mr-5
    }

    &:hover,
    &.is-active{
      
    }
  }
  
}

.tag{
  @apply font-plaid uppercase leading-100 text-16 tracking-[-.02em] bg-[rgba(0,0,0,.1)] py-10 px-10 rounded-[.5rem];

  &.is-card{
    @apply text-white text-14 backdrop-blur-[30px];
  }

  &-glass{
    @apply inline-flex items-center justify-center gap-10 w-fit min-w-0 rounded-full font-plaid uppercase leading-100 text-14 tracking-[-.02em] bg-[rgba(0,0,0,.1)] backdrop-blur-[30px] py-10 px-10;
  }
}

.tag-role{
  @apply rounded-full px-5 py-3 leading-100 border border-current font-plaid uppercase;
}

.link{
  &-text{
    @apply transition-colors duration-300 hover:text-black;

    &.is-grey{
      @apply text-black hover:text-black;
    }
  }
}
