@tailwind base;

@layer base {
  /* Load Ladna Medium as default font */
  @font-face {
    font-family: 'Ladna Medium';
    src: url('/fonts/Ladna-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Ladna Bold';
    src: url('/fonts/Ladna-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Ladna ExtraBold';
    src: url('/fonts/Ladna-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Plaid';
    src: url('/fonts/Plaid-S-Mono.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  html {
    @apply text-[10px] 2xl:text-[12px] font-vm tracking-[-.02rem];
  }

  @media screen and (min-width: 650px) and (max-width: 950px){
    html{
      font-size: 1.8vw;
    }
  }

  @media screen and (min-width: 1899px){
    html{
      font-size: .5vw;
    }
  }

  html,
  body {
    font-family: 'Ladna Medium', sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  body{
    @apply leading-[1.25]
  }
  
  /* Use JetBrains Mono for code/monospace elements */
  code,
  pre,
  kbd,
  samp {
    font-family: var(--font-jetbrains-mono), monospace;
  }

  strong {
    @apply font-semibold;
  }

  ul {
    @apply list-none m-0 p-0;
  }

  /* Headlines */
  h1,
  .h1 {
    @apply my-[unset] leading-100;

  }

  h2,
  .h2 {
    @apply my-[unset] leading-100;
  }

  h3,
  .h3 {
    @apply my-[unset];
  }

  h4,
  .h4{
    @apply my-[unset]
  }

  .title-normal{
    @apply font-medium font-vm text-12 leading-100 uppercase;
  }

  /* Body */

  .text-columns{
    @media screen and (min-width: 850px){
      columns: 2;
    }
  }

  .rc{
    h1,
    h2,
    h3,
    h4{
      font-weight: normal;
    }

    p:not(:last-child){
      margin-bottom: 1.5rem;
      margin-top: 0;
    }

    p:last-child{
      margin: 0;
    }

    h2{
      @apply text-16 mb-15;
    }

    strong{
      @apply font-bold font-vb;
      font-weight: 700;

      em{
        @apply font-semibold font-vs;
        font-weight: 600;
      }
    }

    ul{
      @apply flex flex-col gap-10 my-20;
      counter-reset: list-counter;
      
      &:last-child{
        @apply mb-0
      }

      &:first-child{
        @apply mt-0
      }
      
      li{
        @apply relative pl-15;

        &:after{
          content: '';
          @apply absolute top-5 left-0 w-5 h-5 bg-black rounded-full;
        }
      }
    }

    a{
      @apply underline transition-colors duration-300 hover:text-black;
    }
    
  }

  .title{
    &-2xl{
      @apply my-0 leading-105 tracking-[-.02em] text-36 md:text-[6rem] font-lxb;
    }
    &-xl{
      @apply my-0 leading-110 tracking-[-.02em] text-24 md:text-[4rem] font-lxb;
    }
    &-lg{
      @apply my-0 leading-110 tracking-[-.02em] text-24 md:text-[3.6rem] font-lxb;
    }
    &-md{
      @apply my-0 leading-110 tracking-[-.02em] text-24 md:text-[3rem] font-lxb;
    }
    &-sm{
      @apply my-0 leading-110 tracking-[-.02em] text-24 font-lxb;
    }
    &-index{
      @apply my-0 leading-110 text-16 md:text-[1.4vw] 2xl:text-[1.2vw];
    }
  }

  .subtitle{
    @apply uppercase text-[1.1rem] font-plaid tracking-[-.02em];

    &-lg{
      @apply uppercase text-[1.6rem] font-plaid tracking-[-.02em]
    }
  }

  .caption{
    @apply text-12 font-plaid uppercase tracking-[-.02em];
  }

  /* Links */
  a {
    @apply no-underline text-current;
  }

  button {
    @apply clean-btn;
  }

  /* Images */
  figure {
    @apply relative m-0;
  }

  /* Misc. */
  /* hr {
    @apply my-60 mx-0 border-0 h-1 bg-pageText;
  } */
  
  ::-moz-selection {
    @apply bg-pageText text-pageBG;
  }
  ::selection {
    @apply bg-pageText text-pageBG;
  }

  .blink {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    0% {
      opacity: 1;
    }
    49% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: .5;
    }
  }
}